.navbar-inverse {
     .navbar-header {
          a.navbar-brand {
//                color: @lodex-font-color;
              font-family: @lodex-font-family;
    }    
 }   
}

//div#linkcat-31.widget.widgetFooter.widget_links {
//  text-align: right;
//}
div#linkcat-30.widget.widget_links h4.widgettitle {
//    color:transparent;
    border-bottom: 0;
    padding-bottom:-20px;
    display: none
    
}

div#text-13.widget.widget_text h4.widgettitle {
//    color:transparent;
    border-bottom: 0;
    padding-bottom:-20px;
    display: none
    
}

.badgenbdoc {
//    display: inline-block;
    font-size: @badgenbdoc-font-size;
    border-color: @badgenbdoc-border-color;
    color: @badge-color;
    background: @badgenbdoc-background;
    font-weight:  @badge-font-weight;
    border-radius:  @badge-border-radius;
    text-align: center;
    padding: 4px;
    
}
.entry-content p {
max-width: 50em;
text-align: justify;
}